# When copied, remove this comment and update the ${} placeholders.
always-auth = true
registry=https://registry.npmjs.org/
//registry.npmjs.org/:_authToken=${NPM_AUTH_TOKEN}
@beefchimi:registry=https://npm.pkg.github.com/
//npm.pkg.github.com/:_authToken=${GH_AUTH_TOKEN}
