# When copied, remove this comment and update the ${} placeholders.
registry=https://registry.npmjs.org/
@beefchimi:registry=https://npm.pkg.github.com/
//npm.pkg.github.com/:_authToken=${GH_AUTH_TOKEN}
//registry.npmjs.org/:_authToken=${NPM_AUTH_TOKEN}
