[user]
	name = beefchimi
	email = curtdulmage@gmail.com
[diff]
	algorithm = patience
[protocol]
	version = 2
[core]
	editor = code --wait --new-window
	commitGraph = true
[gc]
	writeCommitGraph = true
