[user]
	name = beefchimi
	email = curtdulmage@gmail.com
	signingkey = 45A002F7F81F19B9
[commit]
	gpgsign = true
[gpg]
	program = gpg
[diff]
	algorithm = patience
[protocol]
	version = 2
[core]
	editor = code --wait --new-window
	commitGraph = true
[gc]
	writeCommitGraph = true
[pull]
	ff = only
